.Translation__button{
  margin-right: 10px;
  background-color: #2E9DD5;
  font-size: 16px;
  border-radius: 25px;
  height: 25px;
  padding: 0 10px;
  color: white;
  outline: none;
  transition: .5s;
}

.Translation__button:hover{
  background-color: #045984;
  color: white;
  cursor: pointer;
  transition: .5s;
}

@media screen and (max-width: 350px){
  .Translation__button{
    font-size: 12px;
  }
}
.Card{
  border: 1px solid black;
  width: 600px;
  margin-top: 100px;
  margin-left: 90px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.left > img{
  height: 150px;
}


.Card.Left{
  margin-right: 50px;
  margin-left: auto;
}


@media screen and (max-width: 650px){
  .Card{
    margin-left: 30px;
    margin: 0 10px;
  }
}


@media screen and (max-width: 850px){
  .Card{
    padding: 15px;
    width: 80%;
    margin-top: 50px;
  }

  .Card.Left{
    margin-left: 10px;
  }

  .left > img{
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
}


.footer{
  margin-top: 100px;
  background: #00314A;
  width: 85vw;
  height: 10px;
  margin-left: 15vw;
}


.header{
  background-color: #AFE4FF;
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 85vh;
  border-radius: 0 0 50px 0;
  justify-content: space-between;
  padding-bottom: 5vh;
}


.header__top{
  margin-top: 10px;
}


.header__top > img{
  width: 100%;
  height: auto;
}


.header__bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.header__bottom > a{
  margin-top: 10px;
}


.header__bottom > a > img{
  max-height: 50px;
  max-width: 50px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
}


@media screen and (max-width: 600px){
  .header{
    width: 100%;
    height: 60vh;
  }
}


.hero__title{
  font-size: 30px;
  color: #00314A;
  padding: 10px 0;
}


.hero__banner {
  margin: 0;
}


.hero__banner img{
  max-width: 90vw;
}


@media screen and (max-width: 850px){
  .hero__title{
    font-size: 20px;
  }
}


@media screen and (max-width: 600px){

}


.SobreMi{
  align-self: center;
  width: 100%;
  text-align: justify;
  margin-right: 150px;
}


.SobreMi > h2{
  margin-left: 50px;
}


.SobreMi__text__left{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}


.SobreMi__text__right{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
}


.SobreMi__text__right > p, .SobreMi__text__left > p{
  width: 60%;
  margin-left: 50px;
}


.SobreMi__logo{
  width: 200px;
  margin-left: 60px;
}


.SobreMi__button{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


@media screen and (max-width: 600px){
  .SobreMi__text__left{
    margin-top: initial;
  }

  .SobreMi__logo{
    width: 100px;
  }
  .SobreMi__text__left, .SobreMi__text__right{
    padding-top: 0px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 500px){
  .SobreMi__logo{
    width: 80px;
  }

  .SobreMi__text__left, .SobreMi__text__right{
    flex-direction: column;
  }
}


.menu > ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 16px;
  text-align: center;
}


.menu__item{
  padding-right: 20px;
}


.menu__item > a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}


@media screen and (max-width: 650px){
  .menu__item {
    padding-right: 10px;
  }
}


@media screen and (max-width: 350px){
  .menu__item > a{
    font-size: 12px;
  }
}


.Proyectos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 50px;
  justify-content: space-evenly;
  margin: 50px auto;
}


.Proyectos__section{
  margin-top: 150px;
}


.Proyectos__title{
  margin-right: 150px;
  margin-left: 100px;
  text-align: left;
}


.Proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.Proyecto > img{
  max-width: 200px;
}


@media screen and (max-width: 600px){
  .Proyectos__section{
    margin-top: 50px;
  }

  .Proyectos__title{
    margin: 0 40px;
  }

  .Proyectos{
    grid-template-columns: repeat(2,1fr);
  }

  .Proyecto > img{
    max-width: 150px;
  }
}


.VerMas__button{
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #2E9DD5;
  font-size: 24px;
  color: #D8F2FF;
  outline: none;
  transition: .5s;
}


.VerMas__button:hover{
  background-color: #045984;
  color: white;
  cursor: pointer;
  transition: .5s;
}


body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}


.main{
  display: grid;
  grid-template-columns: 10vw 1fr;
}


.hero{
  box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.4);
}


h2{
  color: #045984;
  font-size: 32px;
}


p{
  color: #749DB1;
  font-size: 24px;
}


@media screen and (max-width: 600px){
  p{
    font-size: 14px !important;
  }
  h2{
    font-size: 24px !important;
  }
  .main{
    grid-template-columns: 10vw 85vw;
  }
}


@media screen and (max-width: 850px){
  p{
    font-size: 18px;
  }
}
